<html>
  <heder>
    <h1 align="center">Listing all article!</h1>
  </heder>
  <body>
    <div align="center"> <%= will_paginate %> </div>
    <%= render "call_articles", obj:@articles %>
    <div align="center"> <%= will_paginate %> </div>
  </body>
</html>