---
http_interactions:
- request:
    method: get
    uri: https://newsapi.org/v1/sources
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Api-Key:
      - "<GNEWS_tOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"status":"ok","sources":[{"id":"abc-news-au","name":"ABC News (AU)","description":"Australia''s
        most trusted source of local, national and world news. Comprehensive, independent,
        in-depth analysis, the latest business, sport, weather and more.","url":"http://www.abc.net.au/news","category":"general","language":"en","country":"au","urlsToLogos":{"small":"","medium":"","large":""},"sortBysAvailable":["top"]},{"id":"al-jazeera-english","name":"Al
        Jazeera English","description":"News, analysis from the Middle East and worldwide,
        multimedia and interactives, opinions, documentaries, podcasts, long reads
        and broadcast schedule.","url":"http://www.aljazeera.com","category":"general","language":"en","country":"us","urlsToLogos":{"small":"","medium":"","large":""},"sortBysAvailable":["top","latest"]},{"id":"ars-technica","name":"Ars
        Technica","description":"The PC e[...]
- request:
    method: get
    uri: https://newsapi.org/v1/articles?source=abc-news-au
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Api-Key:
      - "<GNEWS_tOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"status":"ok","source":"abc-news-au","sortBy":"top","articles":[{"author":"http://www.abc.net.au/news/emily-sakzewski/7680548","title":"Trump
        says congresswoman ''totally fabricated'' comments to soldier''s widow","description":"US
        President Donald Trump denies telling a war widow on her way to meet her husband''s
        casket that the soldier knew what he signed up for.","url":"http://www.abc.net.au/news/2017-10-18/donald-trump-denies-saying-fabricated-remarks-to-widow/9062240","urlToImage":"http://www.abc.net.au/news/image/9062842-1x1-700x700.jpg","publishedAt":"2017-10-18T13:09:28Z"},{"author":"http://www.abc.net.au/news/caitlyn-gribbin/4592876","title":"Compulsory
        jail terms for child sex offenders could have ''unintended consequences'':
        Labor","description":"Mandatory prison sentences for child sex offenders is
        dividing federal politicians, with Labor being accused of moving to allow
        more paedophiles into the community.","url":"http://www.abc.net.au/news/2017-10-18/government-divided-over-changes-to-same-sex-laws/9064[...]
