---
http_interactions:
- request:
    method: get
    uri: https://en.wikipedia.org/w/api.php?action=query&format=json&prop=extracts&titles=Taiwan
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Disposition:
      - inline; filename="api-result.json"
      Backend-Timing:
      - D=40206 t=1510830972440833
      X-Analytics:
      - ns=-1;special=Badtitle;https=1;nocookies=1
      X-Client-Ip:
      - 35.194.166.199
    body:
      encoding: UTF-8
      string: '{"batchcomplete":"","warnings":{"extracts":{"*":"\"exlimit\" was too
        large for a whole article extracts request, lowered to 1."}},"query":{"pages":{"25734":{"pageid":25734,"ns":0,"title":"Taiwan","extract":"<p><b>Taiwan</b>
        (<span><small class=\"nowrap\">\u00a0(<span><span><span>\u00a0</span>listen</span></span>)</small></span>),
        officially the <b>Republic of China</b> (<b>ROC</b>), is a state in East Asia.
        Its neighbors include the People''s Republic of China to the west, Japan to
        the northeast, and the Philippines to the south. Taiwan is the most populous
        state and largest economy that is not a member of the United Nations.</p>\n<p>The
        island of Taiwan, formerly known as Formosa, was inh[...]
[...]
- request:
    method: get
    uri: https://en.wikipedia.org/w/api.php?action=query&format=json&prop=extracts&titles=asdfasdf
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Disposition:
      - inline; filename="api-result.json"
      Backend-Timing:
      - D=32607 t=1510831296807748
      X-Analytics:
      - ns=-1;special=Badtitle;https=1;nocookies=1
      X-Client-Ip:
      - 35.194.166.199
    body:
      encoding: UTF-8
      string: '{"batchcomplete":"","query":{"normalized":[{"from":"asdfasdf","to":"Asdfasdf"}],"pages":{"-1":{"ns":0,"title":"Asdfasdf","missing":""}}}}'
  recorded_at: Thu, 16 Nov 2017 11:21:36 GMT
- request:
    method: get
    uri: https://en.wikipedia.org/w/api.php?action=query&format=json&prop=extracts&titles=wrong_topic
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Disposition:
      - inline; filename="api-result.json"
      Backend-Timing:
      - D=36122 t=1510833245375995
      X-Analytics:
      - ns=-1;special=Badtitle;https=1;nocookies=1
      X-Client-Ip:
      - 35.194.166.199
    body:
      encoding: UTF-8
      string: '{"batchcomplete":"","query":{"normalized":[{"from":"wrong_topic","to":"Wrong
        topic"}],"pages":{"-1":{"ns":0,"title":"Wrong topic","missing":""}}}}'
  recorded_at: Thu, 16 Nov 2017 11:54:05 GMT
[...]
- request:
    method: get
    uri: https://en.wikipedia.org/w/api.php?action=query&format=json&prop=extracts&titles=wrong%20topic
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Mon, 04 Dec 2017 08:07:13 GMT
- request:
    method: get
    uri: https://en.wikipedia.org/w/api.php?action=query&format=json&prop=extracts&titles=Wrong_topic
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Disposition:
      - inline; filename="api-result.json"
      Backend-Timing:
      - D=30292 t=1514635746631579
      X-Analytics:
      - ns=-1;special=Badtitle;https=1;nocookies=1
      X-Client-Ip:
      - 35.194.166.199
    body:
      encoding: UTF-8
      string: '{"batchcomplete":"","query":{"normalized":[{"from":"Wrong_topic","to":"Wrong
        topic"}],"pages":{"-1":{"ns":0,"title":"Wrong topic","missing":""}}}}'
  recorded_at: Sat, 30 Dec 2017 12:09:06 GMT
recorded_with: VCR 4.0.0
